{% extends 'base.html.twig' %}

{% block title %}Email Confirmé{% endblock %}

{% block body %}
    <h1>Merci {{ user.email }}, votre email a été confirmé !</h1>
    <p>Vous pouvez maintenant vous connecter avec votre compte.</p>
{% endblock %}

