{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Liste des tags</h1>

    <table class="table">
        <thead>
            <tr class="text-xl">
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="{{ path('app_tag_show', {'id': tag.id}) }}" class="btn btn-success text-white btn-sm">show</a>
                    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="btn btn-warning btn-sm ">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tag_new') }}" class="btn btn-primary btn-sm my-3">Create new</a>
{% endblock %}
