{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends "base.html.twig" %}
{% block tittl %}Erreur {{ status_code }}{% endblock %}
{% block body %}

<div class="bg-red-500 m-auto  w-1/2 p-6 rounded shadow-2xl flex gap-10 items-center text-white font-bold border h-[calc(100vh-340px)]">
    <h1 class=" text-4xl">Erreur {{ status_code }}</h1> 
    <p class=" text-2xl text-white">{{ status_text }}</p>
    
    
</div>
{% endblock %}